<?xml version="1.0"?>
<launch>
    <!-- joint_state_controller -->
    <rosparam file="$(find gantry_robot_hvl)/config/joint_state_controller.yaml" command="load"/>
    <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

     <!-- load the position trajectory controller -->
     <rosparam file="$(find gantry_robot_hvl)/config/joint_trajectory_controller.yaml" command="load"/>
     <node name="joint_trajectory_controller_spawner" pkg="controller_manager" type="spawner" args="position_trajectory_controller" />

</launch>
