<?xml version='1.0'?>

<robot name="gantry_crane" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name='H_beam'>
    <pose>0 0 4 0 0 0</pose>
    <visual name='chassis_visual'>
      <origin xyz="0 0 0" rpy=" 0 0 0"/>
      <geometry>
        <box size=".4 .2 .1"/>
      </geometry>
    </visual>


</robot>
