<?xml version="1.0" encoding="UTF-8"?>
  <launch>

    <param name="robot_description" command="$(find xacro)/xacro.py '$(find gantry_robot_hvl)/urdf/gantry_v1.urdf.xacro'"/>
    <!-- <remap from="/joint_states" to="/gantry_crane/joint_states" /> -->

    <node name="crane_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />


    <rosparam file="$(find gantry_robot_hvl)/config/gantry_robot_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="gantry_crane"
      args="joint_state_controller h_beam_controller trolly_controller crane_controller"/>

 

    <arg name="world" default="empty"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find gantry_robot_hvl)/worlds/my_world.world"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="debug" value="$(arg debug)"/>
    </include>


    <node name="gantry_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model gantry_robot -robot_namespace gantry_crane" />

    </launch>
